html, body {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F0F4F8; }
  @media screen and (min-width: 769px) {
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; } }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }

.header {
  height: 30px;
  background-color: #2E3B3E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px; }
  .header > div {
    background-color: #50666B;
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #F0F4F8; }
    .header > div a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #F0F4F8;
      text-decoration: none; }
      .header > div a:hover {
        background-color: #45585c; }
    .header > div:first-child {
      margin-left: -10px; }
    .header > div:last-child {
      margin-right: -10px; }

@media screen and (min-width: 769px) {
  .products {
    display: flex;
    flex-wrap: wrap; } }

.product {
  flex: 1 29%;
  background-color: #FD6378;
  margin: 5px;
  color: #fff;
  text-align: center; }
  .product img {
    width: 100%; }
  .product .image {
    position: relative; }
  .product .price {
    position: absolute;
    top: 0;
    background-color: #F9B8BE;
    padding: 10px;
    color: #2E3B3E;
    font-weight: 500; }
  .product .name h2 {
    margin-top: 9px;
    margin-bottom: 9px; }
  .product .actions {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .product .actions a {
      width: 100%;
      height: 100%;
      background-color: #50666B;
      color: #F0F4F8;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      text-decoration: none;
      transition: background-color 0.2s; }
      .product .actions a:last-child {
        background-color: #668288; }
      .product .actions a:hover {
        background-color: #45585c; }

/*# sourceMappingURL=main.css.map */
