$white: #F0F4F8;
$primary: #2E3B3E;
$secondary: #50666B;
$pink: #FD6378;
$pink-light: #F9B8BE;

$break-small: 320px;
$break-medium: 769px;
$break-large: 1200px;

html,body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $white;

  @media screen and (min-width: $break-medium) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  height: 30px;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;

  > div {
    background-color: $secondary;
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: $white;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      text-decoration: none;

      &:hover {
        background-color: darken($secondary,5);
      }
    }

    &:first-child {
      margin-left: -10px;
    }
    &:last-child {
      margin-right: -10px;
    }
  }
}

.products {

  @media screen and (min-width: $break-medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.product {
  flex: 1 29%;
  background-color: $pink;
  margin: 5px;
  color: #fff;
  text-align: center;

  img {
    width: 100%;
  }

  .image {
    position: relative;
  }
  .price {
    position: absolute;
    top: 0;
    background-color: $pink-light;
    padding: 10px;
    color: $primary;
    font-weight: 500;
  }
  .name {
    h2 {
      margin-top: 9px;
      margin-bottom: 9px;
    }
  }
  .actions {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      width: 100%;
      height: 100%;
      background-color: $secondary;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      text-decoration: none;
      transition: background-color 0.2s;

      &:last-child {
        background-color: lighten($secondary,10);
      }

      &:hover {
        background-color: darken($secondary,5);
      }
    }
  }
}